s1      : Servernett kategori 1
s2      : Servernett kategori 2
s3      : Servernett kategori 3
s4      : Servernett kategori 4
s5      : Servernett kategori 5
bgo     : Plassering: Flesland
osl     : Plassering: Gardermoen
