[default]
workdir = /tmp/mreg/workdir
destdir = /tmp/mreg/dstdir
logdir = /tmp/mreg/logdir
#postcommand must be in json-friendly format
#postcommand = ["sudo", "/path/to/script" ]

[mreg]
url = http://localhost:8000/
username = mreguser
password = mregpass
ipv6networks = False
