[default]
workdir = /tmp/mreg/workdir
destdir = /tmp/mreg/dstdir
logdir = /tmp/mreg/logdir
#postcommand must be in json-friendly format
#postcommand = ["sudo", "/path/to/script" ]

[mreg]
url = http://localhost:8000/
username = mreguser
password = mregpass
ipv6networks = False

[ldif]
dn = cn=networks,dc=example,dc=org
cn = networks
description = IP networks at Example Inc.
objectClass = top
