[default]
workdir = /mreg/workdir
destdir = /mreg/dstdir
logdir = /mreg/logdir
extradir = /mreg/extra
#postcommand must be in json-friendly format
#postcommand = ["sudo", "/path/to/script" ]

[mreg]
url = http://localhost:8000/
username = mreguser
passwordfile = /path/to/pwd

[zones]
example.org
0.10.in-addr.arpa
# Can use "zone=name" to force destination name
1.10.in-addr.arpa=10.1
